.vs/DatingApp/v17/.futdcache.v2
.vs/DatingApp/v17/.suo
.vs/DatingApp/v17/DocumentLayout.json
API/appsettings.Development.json
.vs/ProjectEvaluation/datingapp.metadata.v9.bin
.vs/ProjectEvaluation/datingapp.projects.v9.bin
.vs/ProjectEvaluation/datingapp.strings.v9.bin
.vscode/settings.json
